$app_gray_bg : #efeff0;
$header_text_color : #464648;
$app_generic_text_color : #929698;
$border_gray_color : #cccccc;
$standard_white_color : #ffffff;
$standard_black_color : #000000;
$plus_button_bg_color : #27b7e8;
$green_edge_color : limegreen;
