
  <span class="column-header">YEAR {{yr}}</span>
  <div class="card-content">{{creditesEearned}} credits earned</div>

  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
  <app-dotted-bodered-card></app-dotted-bodered-card>
