<div class="card text-left">
  <div class="card-header">
    <h5><strong>Year 9 (next year)</strong></h5>
    <div>1 Credit planned</div>
  </div>

  <div class="card-block p-2">
    <app-solid-bodered-card></app-solid-bodered-card>
    <app-solid-bodered-card></app-solid-bodered-card>

    <div (mouseenter)="toggleToolTip(true)" (mouseleave)="toggleToolTip(false)" class="card solid-border side-border-norm functions-container p-2">
      <div class="card-content">
        Functions
      </div>
      <div class="card-content" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <span style="float: left; margin-right: 10px;">MAT1U1  &nbsp;&nbsp;|</span> <span style="float: left;"> Math 9 1cr.</span>
      </div>
      <span class="rounded-circle rounded-circle-bottom bg-danger text-white">!</span>
      <div id="tool-tip-trigger"></div>
    </div>

    <app-add-button-card></app-add-button-card>
    <app-add-button-card></app-add-button-card>
    <app-add-button-card></app-add-button-card>
    <app-add-button-card></app-add-button-card>

    <app-dotted-bodered-card></app-dotted-bodered-card>
    <app-dotted-bodered-card></app-dotted-bodered-card>
  </div>

  <div class="card-footer plus-btn-background">
    <button type="button" class="btn btn-primary btn-lg col align-self-center">Ready To Submit</button>
  </div>
</div>
